class HomePage extends Component {
  constructor(props) {
    super(props);
    this.state = {
      loading: true,
      poi: []
    }
  }

  componentDidMount() {
    fetch("/api/poi")
      .then(response => response.json())
      .then(data => this.setState({loading: false, poi: data.poi}));
  }

  render() {
    let content;

    if (this.state.loading) {
      content = <div className="loader">Loading POIs</div>;
    } else {
      const poiEls = this.state.poi.map(poi => (
          <li key={poi.id} className="home__poi-list-item">
            <PoiLink poi={poi}/>
          </li>
      ));
      content = (<ul className="home__poi-list">
        {poiEls}
      </ul>);
    }

    return (<div className="home">
      <div className="home__description">
        The Grand Canyon of the Colorado River is a mile-deep canyon (1.6 km) that bisects the park. Even though the average distance across the canyon is only 10 miles/ 16 km, it takes 5 hours to drive the 215 miles / 346 km between the park's South Rim Village and the North Rim Village.
      </div>
      <h2 className="home__title">Points of Interest</h2>
      {content}
    </div>)
  }
}