class MapPage extends Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (<div className="map">
      <img className="map__image" src="<%= image_url("logo_text.png") %>" />
    </div>);
  }
}