class MapPage extends Component {
  constructor(props) {
    super(props);
    this.grandCanyonCenter = {lat: 36.14, lng: -112.24}
  }

  googleMap() {
    return (<div className="map__gmap-container">
      <GoogleMapReact
          defaultCenter={this.grandCanyonCenter}
          defaultZoom={10}
          bootstrapURLKeys={{
            key: "<%= ENV["GMAPS_API_KEY"] %>"
          }}
      />
    </div>);
  }

  staticMap() {
    return <img className="map__static" src="<%= image_url("canyon_map.jpeg") %>"/>;
  }

  render() {
    const content = this.props.appState.online ? this.googleMap() : this.staticMap();

    return (<div className="map">
      {content}
    </div>);
  }
}