class MapPage extends Component {
  constructor(props) {
    super(props);
  }

  render() {
    const imgUrl = (this.props.appState.online ? "<%= image_url("logo_text.png") %>" : "<%= image_url("logo_badge.png") %>");

    return (<div className="map">
      <img className="map__image" src={imgUrl} />
    </div>);
  }
}