<!DOCTYPE html>
<html>
  <head>
    <title>GrandCanyon</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="white">
    <link rel="manifest" href="<%= asset_path("app-manifest.json") %>">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
